@model evcommerce.Models.OrderCreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Оформление заказа</h1>

<h4>Содержимое корзины</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Количество
            </th>
            <th>
                Артикул
            </th>
            <th>
                Подкатегория
            </th>
            <th>
                Категория
            </th>
            <th>
                Поставщик
            </th>
            <th>
                Цена
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BasketPositionView)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Provider)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
            </tr>
        }
    </tbody>
</table>

<h3>Итого: @ViewBag.totalCost</h3>

<br />
<h4>Параметры заказа</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PaymentId" class="control-label"></label>
                <select asp-for="PaymentId" class="form-control"
                        asp-items="@(new SelectList(ViewBag.ListOfPayments, "Id", "Name"))"></select>
                <span asp-validation-for="PaymentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryId" class="control-label"></label>
                <select asp-for="DeliveryId" class="form-control"
                        asp-items="@(new SelectList(ViewBag.ListOfDeliveries, "Id", "Name"))"></select>
                <span asp-validation-for="DeliveryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdressId" class="control-label"></label>
                <select asp-for="AdressId" class="form-control"
                        asp-items="@(new SelectList(ViewBag.ListOfAdresses, "Value", "Text"))"></select>
                <span asp-validation-for="AdressId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Оформить заказ!" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
