@model IEnumerable<evcommerce.Models.ItemListViewModel>

@{
    ViewData["Title"] = "Каталог товаров";
}

<h1>Каталог товаров</h1>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provider)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.ActionLink("Подробнее", "Details", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>

<nav>
    <ul class="pagination">
        @{
            int i = 1;
            int max = (int)Math.Ceiling((float)ViewBag.amount / 10);
        }
        @while (i <= 3)
        {
            @if (ViewBag.page == i)
            {
                <li class="page-item disabled">
                    <a class="page-link">@i.ToString()</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    @Html.ActionLink(i.ToString(), "Index", new { category = ViewBag.category, page = i }, new { @class = "page-link" })
                </li>
            }
            i++;
        }
        @if (ViewBag.page > 6)
        {
            <li class="page-item disabled">
                <a class="page-link">...</a>
            </li>
        }
        @{ i = Math.Max(ViewBag.page - 2, 4); }
        @while ((ViewBag.page - 2 <= i && i <= ViewBag.page + 2) && (3 < i && i < ((int)max - 3)))
        {
            @if (ViewBag.page == i)
            {
                <li class="page-item disabled">
                    <a class="page-link">@i.ToString()</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    @Html.ActionLink(i.ToString(), "Index", new { category = ViewBag.category, page = i }, new { @class = "page-link" })
                </li>
            }
            i++;
        }
        @if (ViewBag.page < (int)max - 6)
        {
            <li class="page-item disabled">
                <a class="page-link">...</a>
            </li>
        }
        @{ i = max - 3; }
        @while (i <= max)
        {
            @if (ViewBag.page == i)
            {
                <li class="page-item disabled">
                    <a class="page-link">@i.ToString()</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    @Html.ActionLink(i.ToString(), "Index", new { category = ViewBag.category, page = i }, new { @class = "page-link" })
                </li>
            }
            i++;
        }

    </ul>
</nav>
